*{
     display:border-box;
     padding:0px;
    font-family: Calibri Light;
	margin:0px;
}

.title{
    text-align:center;
    color: black;
    background-color:#E7E0EE;
    border: 1px solid white;
}

#piechart{
	width: 650px; 
	height: 450px;
	display: block;
    margin: auto;
	
}

.algorithm{
	border-style: solid;
	border-radius:10px;
	width:200px;
	height:250px;
	text-align:center;
	display:block;
	margin:auto;
	margin-top:30px;
	margin-bottom:30px;
}

#popUpBox{
    padding:10px;
    width: 500px;
    overflow: hidden;
    background: #E7E0EE;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    display: none;
    justify-content:center;
}

#popUpBox h1{
    font-size:25px;
    direction:rtl;
}

.Custom_name, .Custom_interest, .Custom_city{
	margin-top:5px;
	direction:rtl;
}

.Custom_name{
	font-size:23px;
	font-weight: bold;
}

.Custom_interest, .Custom_city{
	font-size:20px;
}

#closeModal{
	float:right;
}

#storyLogo{
	width: 250px;
	height:120px;
}

.popup_btn{
    top: 50%;
    left: 50%;
    border-radius: 10px;
    background-color: #F5F1F8;
    font-size: 30px;
    padding: 8px;
    cursor: pointer;
    direction:rtl;
    margin-bottom:10px;
    display: block;
    margin: auto
}

#description_title{
    text-align:center;
}

.table_art{
	margin-top:20px;
	margin-bottom:20px;
    padding: 10px;
}

.table_statistic{
	border-collapse: collapse;
    margin:25px 0;
    font-size: 0.9em;
    border-radius: 5px 5px 0 0;
    overflow: hidden;  
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    margin:auto;
}

.table_statistic th, .table_statistic td{
	padding: 12px 15px;
	text-align:center;
	font-size:20px;

}

.table_statistic thead tr{
    background-color: #BCB9DD;
    color: #ffffff;
    text-align:center;
    font-weight: bold;
}

.table_statistic tbody tr{
    border-bottom: 1px solid #dddddd;
}
.table_statistic tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}
.table_statistic tbody tr:last-of-type{
    border-bottom: 2px solid #717FC1;
}

.table_statistic tbody tr:hover{
    transition: ease 0.5s;
    background: #dddddd;
    color:#000;
    cursor: pointer;
}